<!--The content below is only a placeholder and can be replaced.-->
<!-- THIS HERE IS THE LOGIN PAGE -->
<!-- <div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="content">
      <h2 class="header">Planner</h2>
    </div>
    <form class="ui form segment">
      <div class="field">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" placeholder="E-mail address">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="text" placeholder="Password">
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    <div class="ui message">
        Need to <a href="https://s.codepen.io/voltron2112/debug/PqrEPM?">Register</a>
      </div>
  </div>
</div> -->
<!-- ui two column centered grid -->

<!-- <div class="ui visible thin left vertical menu sidebar">
  <a class="item">
    <i class="home icon">Home</i>
  </a>
</div>
<div class="pusher">
  site content
</div> -->


<!--
<div class="ui bottom attached segment pushable">
  <div class="ui thin visible inverted left vertical sidebar menu">
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="time icon"></i>
      Appointment
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      Planner
    </a>
    <a class="item">
      <i class="user icon"></i>
      Patients
    </a>
    <a class="item">
        <i class="setting icon"></i>
        Account
      </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <h3 class="ui header">Application Content</h3>
      <app-calendar></app-calendar>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
-->

<router-outlet></router-outlet>