<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="content">
      <h2 class="header">Planner</h2>
    </div>
    <form class="ui form segment">
      <div class="field">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input [(ngModel)]="email" name="email" type="text" placeholder="E-mail address">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input [(ngModel)]="password" name="password" type="text" placeholder="Password">
        </div>
      </div>
      <button (click)="login()" class="ui button" type="submit">Login</button>
    </form>
    <div class="ui message">
      Need to
      <a routerLink="/register">Register</a>
    </div>
  </div>
</div>